# Default ignored files
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
/$PRODUCT_WORKSPACE_FILE$
/BigData.iml
/$PRODUCT_WORKSPACE_FILE$
/Scala/.idea
/Scala/target
/Scala/src/main/scala/ca/jrvs/learningScala.sc